html, body {
  height: 100%;
  margin: 0;
  font-family: "Assistant", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.forum-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.forum-title {
  margin-top: 20px;
  font-size: 36px;
}

.messages-list {
  width: 80%;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
}

.message-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--color-primary);
}

.message-form input[type="text"] {
  width: 70%;
  border: 2px solid var(--color-secondary);
  border-radius: 22px;
  padding: 10px 20px;
  margin-right: 10px;
  outline: none;
}

.btn {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Assistant", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  height: auto;
}

.btn:hover,
.btn:focus {
  background-color: #F082AC;
}