:root {
    --color-primary: #F1ECCE;
    --color-secondary: #415876;
    --color-purple: #A2A9CD;
    --color-green: #A7C8B1;
    --color-white: #ffffff;
    --color-black: #000000;
    --br-sm-2: 14px;
    --box-shadow1: 0 3px 15px rgba(0, 0, 0, 0.3);
    --transition: all .4s ease-in-out;
    --grid-col: repeat(2, 1fr);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-primary);
    background-size: cover;
    background-position: center;
}

h1.main-title {
    font-size: 48px;
    margin-bottom: 20px;
    color: var(--color-secondary);
    text-align: center;
}

.container {
    width: 100%;
    max-width: 600px; /* Limit the max width of the container */
    padding: 20px;
    text-align: center;
}

.wrapper {
    background: transparent;
    color: var(--color-secondary);
    padding: 30px 40px;
    border: 2px solid var(--color-secondary);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.wrapper h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid var(--color-secondary);
    border-radius: 40px;
    font-size: 16px;
    color: var(--color-secondary);
    padding: 0 45px 0 20px;
}

.input-box input::placeholder {
    color: var(--color-secondary);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: var(--color-secondary);
    outline: none;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: var(--color-white);
    font-weight: 600;
    margin-top: 20px;
}

.footer {
    bottom: -20px;
    width: 100%;
    background-color: var(--color-secondary);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.footer-content img {
    height: 100px; /* Adjust the height of the logo */
    width: auto; /* Maintain aspect ratio */
}

.footer-link {
    color: var(--color-white);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-text {
    margin: 0;
}